.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 64px 0;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.error {
  text-align: center;
  color: red;
  margin: 32px 0;
}

.operationArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageInput {
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 32px;
  width: 400px;
  text-align: center;
}

.button {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 200px;
  background: tomato;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.totalWaves {
  text-align: center;
  margin: 32px 0;
}

.address {
  color: gray;
  text-align: center;
}

.address h4 {
  font-size: 14px;
  margin: 32px 0 8px 0;
}

.waveDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.waveDetail dl {
  background: OldLace;
  padding: 8px;
}

.waveDetail dt {
  width: 20%;
  float: left;
  display: inline;
  padding: 0;
  margin: 4px 0;
  color: gray;
}

.waveDetail dd {
  width: 80%;
  float: right;
  display: inline;
  padding: 0;
  margin: 4px 0;
  word-break: break-all;
}

.codelink {
  font-size: 16px;
  color: gray;
  text-align: center;
  margin: 32px 0 0;
}

.spinner {
  animation: rotation 1s infinite linear;
  color: gray;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
